$blue: #1968FC;
$fontBlue: #11223F;
$h1Size: 2.3rem;
$pSize: 1.25rem;
$boxShadow: 0 20px 60px rgba(49, 69, 244, 0.1);
$blueButton: 0 10px 40px rgba(25, 104, 252, 0.3);
$whiteButton: 4px 4px 20px rgba(255, 255, 255, 0.4);